<?xml version="0.1.0"?>


<launch>
  <arg name="scan" default="/hokuyo"/>  
  <arg name="base_frame" default="lidar"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="map"/>
  <arg name="use_sim_time" default="true"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
    <remap from="scan" to="$(arg scan)"/>
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    <param name="delta" value="0.02"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>
  </node>
</launch>
